.demo-acct-info {
  margin: 1em 0;
  // padding: 0.2em 1em;
  // width: 80%;
  color: var(--text-color);
  // border-top: 1px solid rgba(0,0,0,0.1);
  // border-bottom: 1px solid var(--text-color);
  // box-shadow: var(--box-shade-up);
}
.demo-h3 {
  opacity: 75%;
  text-transform: uppercase;
}
.deets {
  font-family: monospace;
  font-weight: 700;
}
.usr-acct-pwd {
  padding-left: 1em;
}
.usr-acct-warn {
  font-size: 0.8em;
  padding-top: 0.5em;
  text-align: right;
  & a {
    color: var(--highlight-color);

  }
}