.login-screen {
  border: 2px red solid;
  & h2 {
    text-align: center;
  }
}
.login-form {
  z-index: 999;
  max-width: 480px;
  margin: 1em auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}