.project-summary {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
  .project-name-txt {
    font-size: 1.2em;
  }
  .due-date {
    margin: 1em 0;
    color: var(--title-color);
    .due-date-txt {
      margin-left: 0.48em;
    }
  }
  .details {
    margin: 1.48em 0 2em;
    color: var(--text-color);
    line-height: 1.8;
    font-size: 0.9em;
  }
  h4 {
    color: var(--text-color);
    font-size: 0.9em;
  }
}
.assigned-users {
  display: flex;
  .avatar-and-name-container {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-right: 0.64em;
    .avatar-name {
      font-size: 0.8em;
      margin-left: 0.1em;
    }
  }
}

.project-delete-btn {
  margin-top: 1em;
}