.project-filter {
  margin: 30px auto;

  nav {
    display: flex;
    padding: 10px;
    background-color: #fff;
  }
  p {
    font-size: 0.9em;
    margin-right: 10px;
    color: var(--heading-color);
  }
  button {
    margin-right: 0.48em;
    padding-right: 0.48em;
    background: transparent;
    border: 0;
    font-family: inherit;
    font-weight: normal;
    color: var(--text-color);
    cursor: pointer;
    border-right: 1px solid var(--edge-color); //#e4e4e4;
    font-size: 0.9em;
    transition: transform 200ms;
    &:hover {
      transform: translateY(-2px);
    }
    &:last-child {
      border: 0;
    }
    &.active {
      color: var(--highlight-color);
      font-weight: bold;
      &:first-of-type {
        color: var(--text-color);
      }
      &:hover {
        transform: none;
      }
    }
  }
}