.animated-input {
  input, label { // UNsets from index.css
    font: inherit;
    display: inline;
    margin: 0;
  }

  position: relative;
  margin: 2em 0;
  input {
    font-size: 1em;
    padding: 0.4em 0.48em; // [RESETs FROM INDEX.CSS]
    color: var(--heading-color); // BLACK <ACTUAL INPUT VALUE
    background-color: var(--bg-color); // WHITEISH PLAIN BACKGROUND
    border: 1px solid;
    border-color: var(--text-color); // LIGHTGRAY
    outline: none;
    caret-color: var(--highlight-color); //
    &::placeholder { opacity: 0; }
    &:focus {
      outline: 2px solid var(--highlight-color); // <~~ a11y undo
    }
    // &:valid,
    &:not(:placeholder-shown),
    &:focus {
      border-color: var(--highlight-color); //
    }
    // &:valid ~ label,
    &:not(:placeholder-shown) ~ label,
    &:focus ~ label {
      color: var(--primary-color); //
      font-size: 0.8em;
      letter-spacing: 0.1em;
      transform: translate(0.6em, -1em);
      padding: 0 0.4em;
      background-color: var(--bg-color);
      border-left: 1px solid var(--highlight-color);
      border-right: 1px solid var(--highlight-color);
    }
  }
  label {
    transition: 400ms;

    position: absolute; // RESET POSITION
    top: 0;
    left: 0;
    text-transform: uppercase;
    pointer-events: none; // safety

    /* START CONDITIONS: */
    color: var(--heading-color);
    padding: 0 0.4em;
    transform: translate(0.48em, .4em);
    font-size: 1.1em;
    letter-spacing: 0.2em;

    // font-weight: bold;
    // margin-inline: 0.45em;
    // padding: 0.1em 0.35em
    /*
    background-color: var(--clr1);
    transition: transform var(--fast) ease,
              background-color var(--fast) ease;
    */
  }

}
  // &.filled {
    // & input:valid ~ label,
    // & input:focus ~ label {
      //   background-color: var(--clr-highlight);
      //   color: var(--clr-dark);
      // }