.user-list-wrapper {
  width: 240px;
  min-width: 240px;
  min-height: 100vh;
  position: relative;
  padding: 1.08rem;
  padding-top: 3.6em;
  background: #fbfbfb;
  color: var(--heading-color);
  text-align: right;
  & h2 {
    margin-bottom: 2em;
    font-size: 1.2em;
  }
}

.user-list{
  & .user-list-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5em auto;
    position: relative;
  }
  & .avatar {
    margin-left: 5px;
    width: 2em;
    height: 2em;
  }
  & .is-online{
    position: absolute;
    height: 0.96em;
    width: 0.96em;
    right: -0.4em;
    top: 1em;
    background: #0ebb50;
    border-radius: 100%;
    border: 1px solid white;;
  }
}
