.card {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  transition: transform .2s;
  &:hover {
    transform: translate(0, -5px);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }

  a {
    text-decoration: none;
    color: inherit;
    padding: 1em;
  }
  h4 {
    font-weight: 500;
  }
  p {
    font-size: 0.8em;
  }

  .assigned-to {
    display: flex;
    margin-top: 1em;
    border-top: 1px solid #eee;
    .avatar {
      margin-right: 0.32em;
      width: 30px;
      height: 30px;
    }
  }
}