.sidebar {
  width: 240px;
  min-width: 240px;
  background: var(--primary-color);
  min-height: 100vh;
  position: relative;
  color: #fff;
  & .user {
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding: 3.6em 0 2.76em 0; // 40px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    // height: 38px;
    // display: flex;  align-items: center;  justify-content: center;
    // margin-bottom: 3rem;
  }
  & .links {
    margin-top: 4em; // margin-top: 80px;
    margin-left: 20px;
    & li {
      margin-top: 1em; // margin-top: 10px;
    }
    & a {
      display: flex;
      padding: 10px;
      text-decoration: none;
      width: 100%;
      color: #fff;
      border-radius: 20px 0 0 20px;
    }
    & img {
      margin-right: 10px;
      filter: invert(100%);
    }
    & a.active {
      color: #555;
      background: var(--bg-color);
      // border-radius: 20px 0 0 20px;
    }
    & .active img {
      filter: invert(40%);
    }
  }
}

.sidebar-content {
  position: fixed;
  width: inherit;
}
