.clr-prime {
  color: var(--primary-color);
}
.clr-alt {
  color: var(--highlight-color);
}

.h1-main {
  text-align: center;
  color: var(--heading-color);
}

.h1-main-logo {
  opacity: 1;
  font-size: 1em;
  height: 1em;
  line-height: 1;
  vertical-align: text-bottom;
  margin: 0.2em;
}
